* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Poppins', sans-serif;
}

header {
  position: fixed;
  background-color: rgba(255, 255, 255, .1);
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 170px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 999;
}

header .brand {
  color: #fff;
  font-size: 32px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .navigation {
  position: relative;
}

header .navigation a {
  text-decoration: none;
  color: #fff;
  font-size: 17px;
  font-weight: 500px;
  margin-left: 30px;
  transition: .3s ease;
  padding-bottom: 3px;
}

header .navigation a:hover {
  color: #2E2323;
  box-shadow: 0px 3px #2E2323;
}

section {
  padding: 170px;
}

.main {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  background: url(./images/bg.png) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.main .content {
  max-width: 800px;
}

.main .content h2 {
  color: #fff;
  font-size: 36px;
  font-weight: 500;
}

.profile {
  border: 7px solid rgb(52, 52, 52);
  border-radius: 50%;
}

.main .content h2 span {
  font-size: 60px;
  font-weight: 600;
}

.animated-text {
  height: 70px;
  overflow: hidden;
  position: relative;
}

.animated-text h3 {
  color: crimson;
  font-size: 52px;
  font-weight: 700px;
  line-height: 70px;
  letter-spacing: 1px;
}

.animated-text h3:nth-child(1) {
  animation: text-move 10s infinite;
}

@keyframes text-move {
  0% {
    margin-top: 0px;
  }

  25% {
    margin-top: -70px;
  }

  50% {
    margin-top: -140px;
  }

  75% {
    margin-top: -70px;
  }

  100% {
    margin-top: 0px;
  }
}

.btn {
  color: #fff;
  background: crimson;
  font-size: 20px;
  font-weight: 600;
  display: inline-block;
  padding: 10px 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 1px;
  border: 2px solid crimson;
  border-radius: 3px;
  margin: 30px 0px;
  transition: .5s ease;
}

.btn:hover {
  background: #fff;
  color: crimson;
  border-color: crimson;
  cursor: pointer;
}

.media-icons a {
  color: #fff;
  font-size: 25px;
  margin-right: 30px;
}

.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.section-title {
  color: crimson;
  position: relative;
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 60px;
}

.section-title::before {
  content: "";
  position: absolute;
  top: 56px;
  left: 50%;
  width: 140px;
  height: 4px;
  background: crimson;
  transform: translateX(-50%);
}

.section-title::after {
  content: "";
  position: absolute;
  top: 50px;
  left: 50%;
  width: 15px;
  height: 15px;
  background: crimson;
  border-radius: 50%;
  transform: translateX(-59%);
}

.about .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.about .content .col-left {
  position: relative;
  width: 45%;
}

.about .content .col-right {
  position: relative;
  width: 45%;
}

.img-card {
  position: relative;
  width: 100%;
  display: flex;
  height: 600px;
}

.img-card img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  margin-top: -120px;
  object-fit: contain;
  border-radius: 10px;
}

.about .content-title {
  font-size: 36px;
  font-weight: 800;
  margin-bottom: 20px;
}

.paragraph-text {
  font-size: 20px;
}

.skills {
  background-color: #000016;
}

.skills .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: #fff;
  margin-top: 20px;
}

.skills .col-left {
  position: relative;
  width: 45%;
}

.skills .col-left .content-title {
  margin-bottom: 20px;
}

.skills .col-right {
  position: relative;
  width: 45%;
}

.skills .col-right .bar {
  margin-bottom: 15px;
  padding: 10px;
}

.skills .col-right .bar .info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

.skills .col-right .bar .info span {
  font-size: 18px;
  font-weight: 500;
}

.skills .line {
  position: relative;
  width: 100%;
  height: 15px;
  background: #ccc;
  border-radius: 2px;
}

.skills .line::before {
  content: '';
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 2px;
}

.skills .html::before {
  width: 95%;
  background: #e45126;
}

.skills .css::before {
  width: 85%;
  background: #0c73b8;
}

.skills-opinion {
  font-size: 23px;
}

.skills .javascript::before {
  width: 80%;
  background: #e3a324;
}

.skills .cpp::before {
  width: 75%;
  background: #1395ff;
}

.skills .react::before {
  width: 70%;
  background: #45C7FB;
}

.skills .python::before {
  width: 50%;
  background: linear-gradient(to left, #FED546 0% 30%, #346C9B 70% 100%);
}




.modal1::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal2::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal3::backdrop {
  background: rgba(0, 0, 0, 0.5);
}

.modal1 {
  width: 600px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
  margin-top: 300px;
  padding: 10px 30px;
}

.modal2 {
  width: 600px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 200px;
  padding: 10px 30px;
}

.modal3 {
  width: 600px;
  height: 400px;
  border: 2px solid #ccc;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 200px;
  padding: 10px 30px;
}

.block {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

.modal1 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal2 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal3 div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn2 {
  transition: transform 0.3s ease;
}

.btn2:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 20px;
}

.title p {
  width: 80%;
}

.services .content .card {
  background-color: #fff;
  width: 300px;
  margin: 10px;
  padding: 25px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0px 5px 25px rgba(1 1 1 / 15%);
  border-radius: 10px;
}

.services .card .service-icon {
  color: crimson;
  font-size: 120px;
  text-align: center;
  transition: transform .5s ease;
}

.services .card .service-icon:hover {
  transform: translateY(-14px);
  cursor: pointer;
}

.services .card .info {
  text-align: center;
}

.services .card .info h3 {
  color: crimson;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.work {
  background: #000016;
}

.work .content {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 20px;
}

.work .content .card {
  width: 400px;
  margin: 15px;
}

.card-img {
  position: relative;
  width: 100%;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.card-img img {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.5s ease
}

.card-img img:hover {
  transform: scale(1.2);
  cursor: pointer;
}

.contact .content {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  margin-top: 20px;
}

.contact .content .row {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.contact .content .row .card {
  background-color: #fff;
  width: 250px;
  margin: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
  border-radius: 10px;
  text-align: center;
}

.contact .content .row .card .contact-icon {
  color: crimson;
  font-size: 60px;
  text-align: center;
  transition: transform 0.5s ease;
}

.contact .content .row .card:hover .contact-icon {
  transform: translateY(-15px);
}

.contact .card .info h3 {
  color: #444;
  font-size: 20px;
  font-weight: 700;
  margin: 10px;
}

.contact .card .info span {
  color: #888;
  font-weight: 500;
}

.contact-form {
  background-color: #fff;
  max-width: 600px;
  margin-top: 50px;
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 5px 25px rgba(1 1 1 /15%);
}

.contact-form h3 {
  color: #000;
  font-size: 25px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
}

.contact-form .input-box {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}

.contact-form .input-box input,
.contact-form .input-box textarea {
  color: #111;
  width: 100%;
  padding: 10px;
  font-size: 17px;
  font-weight: 400;
  outline: none;
  border: 1px solid #111;
  border-radius: 5px;
  resize: none;
}

.hamburger-menu {
  display: none;
}

.contact-form .input-box .send-btn {
  color: #fff;
  background: crimson;
  display: inline-block;
  font-size: 19px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
  width: 100%;
  border: none;
  cursor: pointer;
  transition: 0.5s ease;
}

.contact-form .input-box .send-btn:hover {
  background-color: #fff;
  color: crimson;
  border: 1px solid #111;
}

.footer {
  background: #000016;
  color: #fff;
  text-align: center;
  padding: 34px;
}

.footer .footer-title {
  font-size: 20px;
  font-weight: 600;
}

.footer p {
  margin-top: 10px;
}

.item-work {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.right-work {
  text-decoration: none;
  font-size: 30px;
  transition: transform .3s ease;
  color: rgb(0, 0, 0);
  margin-right: 10px;
}

.right-work:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.menu-btn {
  display: none;
}

.left-text-purple {
  font-size: 20px;
  color: rgb(136, 6, 192);
}

.left-text-orange {
  font-size: 20px;
  color: orange;
}

.left-text-movie {
  font-size: 20px;
  color: rgb(0, 30, 255);
}

@media (max-width: 1049px) {
  header {
    padding: 12px 20px;
  }

  header .navigation {
    display: none;
  }

  section {
    padding: 80px 20px;
  }

  header.sticky {
    width: 800px;
    padding: 0;
    margin-left: -150px;
  }

  .main .content h2 {
    font-size: 25px;
  }

  .main .content h3 {
    font-size: 35px;
  }

  .section-title {
    font-size: 36px;
  }

  .about .content {
    flex-direction: column;
  }

  .about .content .column {
    position: relative;
    width: 100%;
  }

  .about .content .col-right {
    margin-top: 40px;
  }

  .skills .content {
    flex-direction: column;
  }

  .skills .content .column {
    position: relative;
    width: 100%;
  }

  .skills .content .col-right {
    margin-top: 40px;
  }

  .contact-form {
    padding: 35px 40px;
  }

  #menu__toggle {
    opacity: 0;
  }

  #menu__toggle:checked+.menu__btn>span {
    transform: rotate(45deg);
    background-color: #fff;
  }

  #menu__toggle:checked+.menu__btn>span::before {
    top: 0;
    transform: rotate(0deg);
    background-color: #fff;
  }

  #menu__toggle:checked+.menu__btn>span::after {
    top: 0;
    transform: rotate(90deg);
    background-color: #fff;
  }

  #menu__toggle:checked~.menu-menu {
    left: 30% !important;
  }

  .menu__btn {
    position: fixed;
    top: 30px;
    right: 20px;
    width: 35px;
    height: 46px;
    cursor: pointer;
    z-index: 1;
  }

  .menu__btn>span,
  .menu__btn>span::before,
  .menu__btn>span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 6px;
    background-color: #000000;
    transition-duration: .25s;
  }

  .menu__btn>span::before {
    content: '';
    top: -10px;
  }

  .menu__btn>span::after {
    content: '';
    top: 10px;
  }

  .menu-menu {
    display: block;
    position: fixed;
    top: 0;
    text-align: center;
    left: 100%;
    width: 70%;
    color: #fff;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #040B14;
    box-shadow: 2px 2px 6px rgba(55, 55, 55, 0.4);
    transition-duration: .25s;
  }

  .menu__box {
    display: block;
    top: 0;
    text-align: center;
    left: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    background-color: #040B14;
    list-style: none;
    transition-duration: .25s;
  }

  .menu__item {
    display: block;
    padding: 12px 24px;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }

  .menu__item:hover {
    transform: scale(1.1);
    background-color: #4f4f4f;
  }

  .hamburger-menu {
    display: block;
  }
}

.scroll-top {
  z-index: 999;
  position: fixed;
  background-color: crimson;
  color: #fff;
  width: 45px;
  height: 45px;
  right: -20%;
  bottom: 10px;
  font-size: 22px;
  line-height: 45px;
  text-align: center;
  cursor: pointer;
  transition: all .3s ease;
}

header.sticky {
  background: crimson;
  padding: 10px 170px;
}

.scroll-top.active {
  right: 2%;
  opacity: 1;
}

.reveal {
  position: relative;
  transform: translateY(50px);
  opacity: 0;
  transition: all 1.3s ease;
}

.reveal.active {
  transform: translateY(0);
  opacity: 1;
}

/* <i class="fa-sharp fa-solid fa-xmark"></i> */

/* toggle css */